.animateClip > div {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
}

.animateClip:hover > div {
  background-color: transparent;
}

.animateClip img {
  clip-path: inset(0);
  transition: all 0.5s;
}

.animateClip:hover img {
  clip-path: inset(10.5%);
  transition: all 0.5s;
  object-position: top;
}

.animateClip:hover h2.split {
  color: rgba(146, 139, 146, 0.85);
  transition: color 0.3s ease-in-out 0.2s;
}

.animateClip:hover h2.transSplint .char {
  animation: rotateColor 0.5s forwards;
}

@keyframes rotateColor {
  0% {
    color: #f7fafc;
    transform: rotateY(0deg);
  }

  100% {
    color: rgba(146, 139, 146, 0.85);
    transform: rotateY(720deg);
    margin: 0px 0px;
    font-size: 1rem;
  }
}

.animateClip p {
  opacity: 0;
}

.animateClip:hover p {
  opacity: 1;
  transition: opacity 0.5s;
}

.char {
  margin: 0px 7px;
}

.animateClip:hover .split .char {
  margin: 0px 0px;
  transition: margin 0.5s;
}
