@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

.exo2 {
  font-family: "Exo 2 Variable", sans-serif;
}

p:before,
p:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: -100%;
  margin-top: -0.7rem;
  background-color: #f7fafc;
}

p::after {
  top: calc(100% + 1.3rem);
  margin-bottom: -0.7rem;
}
